[submodule "ThirdPartyLib/Quick"]
	path = ThirdPartyLib/Quick
	url = git@github.com:Quick/Quick.git
[submodule "ThirdPartyLib/Nimble"]
	path = ThirdPartyLib/Nimble
	url = git@github.com:Quick/Nimble.git
